<section class="card-animal" uiRipple [routerLink]="'/animal/' + info.id">

  <section class="card-animal__image"
           [ngStyle]="
           {'background-image': info.image ?
           'url(../../../../assets/image-animals/' + info.image + ')' :
            'url(../../../../assets/image-animals/no-image.svg)',
            'backgroundSize': info.image ? '100% 100%' : '50% 50%',
            'background-color':  info.image ? '#EEE' : 'transparent'
            }
"

  >
    <!--<img *ngIf="info.image" [src]="'../../../../assets/image-animals/' + info.image"/>-->
  </section>

  <section class="card-animal__info">
    <span class="card-animal__info__title">{{ info.title }}</span>
    <span class="card-animal__info__breed">{{ info.breed }}</span>
    <span class="card-animal__info__age">{{ info.age + ' anos' }}</span>
    <section class="card-animal__info__footer">
      <span>{{ info.views === 0 ? 'Sem visualições' : info.views === 1 ? 'visualização' : 'visualizações' }} </span>
      <button class="ui-button flat primary no-padding">COMPARTILHAR</button>
    </section>

  </section>

</section>
