<div class="light">
  <ui-card>
    <div>
      <ui-tabs class="no-padding primary" #tabs>
        <div class="tab selected" uiRipple (click)="tabsPages.pagesGoToPage(1)">
          Todos
        </div>
        <div class="tab" uiRipple (click)="tabsPages.pagesGoToPage(2)">
          Cachorros
        </div>
        <div class="tab" uiRipple (click)="tabsPages.pagesGoToPage(3)">
          Gatos
        </div>
      </ui-tabs>
    </div>
    <div>
      <ui-tabs-pages #tabsPages [tabs]="tabs">
        <div class="page">
          <div *ngIf="tabsPages.currentPage === 1">
            <ui-card-content>
              Página 1<br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores consequatur
              ducimus eveniet expedita facilis id inventore mollitia nihil optio praesentium quasi sint
              sit,
              sunt veniam vitae voluptatum? Perspiciatis, quam?
            </ui-card-content>
          </div>
        </div>
        <div class="page">
          <div *ngIf="tabsPages.currentPage === 2">
            <ui-card-content>
              Página 2<br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores consequatur
              ducimus eveniet expedita facilis id inventore mollitia nihil optio praesentium quasi sint sit,
              sunt veniam vitae voluptatum? Perspiciatis, quam?
            </ui-card-content>
          </div>
        </div>
        <div class="page">
          <div *ngIf="tabsPages.currentPage === 3">
            <ui-card-content>
              Página 3<br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores consequatur
              ducimus eveniet expedita facilis id inventore mollitia nihil optio praesentium quasi sint sit,
              sunt veniam vitae voluptatum? Perspiciatis, quam?
            </ui-card-content>
          </div>
        </div>
      </ui-tabs-pages>
    </div>
  </ui-card>
</div>
