<div class="ui-s960">
  <ui-card>
    <div>
      <ui-tabs class="no-padding primary" #tabs>
        <div class="tab selected" uiRipple (click)="tabsPages.pagesGoToPage(1)">
          Todos
        </div>
        <div class="tab" uiRipple (click)="tabsPages.pagesGoToPage(2)">
          Cachorros
        </div>
        <div class="tab" uiRipple (click)="tabsPages.pagesGoToPage(3)">
          Gatos
        </div>
      </ui-tabs>
    </div>
    <div>
      <ui-tabs-pages #tabsPages [tabs]="tabs">
        <div class="page">
          <div *ngIf="tabsPages.currentPage === 1">
            <ui-card-content>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
            </ui-card-content>
          </div>
        </div>
        <div class="page">
          <div *ngIf="tabsPages.currentPage === 2">
            <ui-card-content>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
            </ui-card-content>
          </div>
        </div>
        <div class="page">
          <div *ngIf="tabsPages.currentPage === 3">
            <ui-card-content>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
              <app-card-animal></app-card-animal>
            </ui-card-content>
          </div>
        </div>
      </ui-tabs-pages>
    </div>
  </ui-card>
</div>
