<div class="ui-s960">
      <ui-card class="elevate-on-toolbar">
    <div>
      <ui-tabs class="no-padding primary" #tabs>
        <div class="tab selected" uiRipple (click)="tabsPages.pagesGoToPage(1)">
          Todos
        </div>
        <div class="tab" uiRipple (click)="tabsPages.pagesGoToPage(2); getAnimals('C');">
          Cachorros
        </div>
        <div class="tab" uiRipple (click)="tabsPages.pagesGoToPage(3); getAnimals('G');">
          Gatos
        </div>
      </ui-tabs>
    </div>
    <div>
      <ui-tabs-pages #tabsPages [tabs]="tabs">
        <div class="page">
          <div *ngIf="tabsPages.currentPage === 1">
            <ui-card-content style="padding: 16px 8px">
              <app-card-animal *ngFor="let animal of animals" [info]="animal"></app-card-animal>
            </ui-card-content>

          </div>
        </div>
        <div class="page">
          <div *ngIf="tabsPages.currentPage === 2">
            <ui-card-content>
              <app-card-animal *ngFor="let animal of animalsDog" [info]="animal"></app-card-animal>
            </ui-card-content>
          </div>
        </div>
        <div class="page">
          <div *ngIf="tabsPages.currentPage === 3">
            <ui-card-content>
              <app-card-animal *ngFor="let animal of animalsCat" [info]="animal"></app-card-animal>
            </ui-card-content>
          </div>
        </div>
      </ui-tabs-pages>
    </div>
  </ui-card>
</div>
