<div class="core">
  <div class="logo">
    <!--<img src="../../../../assets/images/logo-acif-white.svg" alt="Acif logo" title="Acif logo">-->
  </div>
  <ui-card>
    <div class="ui-progress accent" [class.hide]="!loading">
      <div class="indeterminate"></div>
    </div>
      <div class="page pre-info">
        <form #preLoginForm="ngForm" class="ui-validate on-submit on-dirty" (submit)="login()">
          <ui-card-title>Inicie sua sessão</ui-card-title>
          <ui-card-content>
            <ui-input-container>
              <input type="email"
                     name="usuario"
                     [(ngModel)]="info.email"
                     uiInput
                     required
                     #ngModelEmail="ngModel"
                     email
                     id="pre-login-usuario"
                     class="accent"
                     autofocus>
              <label for="pre-login-usuario">E-mail</label>
              <div class="ui-messages">
                <div *ngIf="ngModelEmail.errors && ngModelEmail.dirty">
                  <div class="ui-message error" [hidden]="!ngModelEmail.pristine && !ngModelEmail.errors.required">
                    Use seu e-mail
                  </div>
                  <div class="ui-message error" [hidden]="!ngModelEmail.errors.email">
                    Use um e-mail válido
                  </div>
                </div>
              </div>
            </ui-input-container>

            <ui-input-container>
              <input type="password"
                     name="pass"
                     [(ngModel)]="info.pass"
                     uiInput
                     required
                     #ngModelPass="ngModel"
                     id="pass"
                     class="accent"
                     autofocus>
              <label for="pass">Senha</label>
              <div class="ui-messages">
                <div *ngIf="ngModelPass.errors && ngModelPass.dirty">
                  <div class="ui-message error" [hidden]="!ngModelPass.pristine && !ngModelPass.errors.required">
                    Use sua senha
                  </div>
                </div>
              </div>
            </ui-input-container>

          </ui-card-content>
          <div class="ui-button-container cover">
            <button class="ui-button accent full" uiRipple>Entrar</button>
          </div>
        </form>
      </div>
  </ui-card>
</div>
