/* You can add global styles to this file, and also import other style files */
@import "~ng-smn-ui/lib/core/core";
@import "~ng-smn-ui/lib/core/theme";

$primary: (color: 'teal', hue: '800');
$accent: (color: 'indigo', hue: '800');

$theme: ui-theme($primary, $accent);
$theme-dark: ui-theme($primary, $accent, true);

@include ui-core();

@include ui-build-theme($theme);

.dark {
  @include ui-build-theme($theme-dark);
}
